/* Selector de tipo */
h1 {
    color: blue;
    font-size: 15px;
}
p {
    color: red;
    font-size: 20px;
}

/* Selector de clase */



.colorAzul {
    color:blue;
}

#especial {
    color: yellow;
    font-size: 50px;
}

body {
    background-image: url("./Users/Usuario/Cursos/HTML/HTML/IMAGENES/Heroes_Del _Silencio.jpg")};